[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlalchemy = "*"
faker = "*"
ipdb = "*"
simple-term-menu = "*"
prettycli = "*"
prettytable = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.13"
